::-webkit-input-placeholder{color:#999;}
::-moz-placeholder{color:#999;}
:-ms-input-placeholder{color:#999;}

html{font-size: 62.5%;}
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, progress, time, mark, audio, video {
        background:transparent;
        border:0;
        margin:0;
        outline:0;
        padding:0;
        vertical-align:baseline;
        -webkit-text-size-adjust:none;
    }
    body {
        color:#2c2c2c;
        font-size:14px;
        font-size:1.4em;
        font-family:"微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei",  STHeiti, "宋体";
        *font-family:"Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti, "宋体";
    　　line-height: 1.428571429;
    }

    article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, progress {
        display:block;
    }

    /* HTML5 媒体文件跟 img 保持一致 */
    audio,canvas,video {
        display: inline-block;*display: inline;*zoom: 1;
    }
    /* 要注意表单元素并不继承父级 font 的问题 */
    body,button,input,select,textarea{
        font:16px/26px "微软雅黑","宋体",Arial,sans-serif,"黑体";   /*SimHei SimSun*/ /*\9ED1\4F53, SimHei*/
    }
    input,select,textarea{
        font-size:100%;
    }

    /* IE bug fixed: th 不继承 text-align*/
    /* 去除默认边框 */
    fieldset,img{
        border:0;
    }

    /* ie6 7 8(q) bug 显示为行内表现 */
    iframe{
        display:block;
    }

    /* 去掉 firefox 下此元素的边框 */
    abbr,acronym{
        border:0;font-variant:normal;
    }

ol, ul, li {
        list-style:none;
    }
    blockquote, q {
        quotes:none;
    }
    blockquote:before, blockquote:after, q:before, q:after {
        content:'';
        content:none;
    }
    :focus {
        outline:0;
    }
    table {
        border-collapse:collapse;
        border-spacing:0;
    }
    input[type=radio], input[type=checkbox] {
        vertical-align:middle;
        margin-top:0;
    }
    label[for] {
        vertical-align:middle;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
      color: inherit;
      font: inherit;
      margin: 0;
    }
    button{border:none;}
    button::-moz-focus-inner,
    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
    button[disabled],
    html input[disabled] {
      cursor: default;
    }
    button,
    select {
      text-transform: none;
    }
    textarea, input{
        border: 1px solid #b3b3b3;
        line-height: 100%;
        resize:none;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing:border-box;
    }
    textarea:focus, input:focus{
        border: 1px solid #3C95EC;
        box-shadow: 0 0 4px ##D6E2ED;
        outline: medium none;
    }
    input[type="text"],input[type="email"],
    input[type="password"],textarea{width:100%;}
    input[type="checkbox"],input[type="radio"]{background: none;border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after {clear: both;}
.clearfix { zoom: 1; }
.clear {clear:both;}


    a{color:#000000;text-decoration: none;outline:none;cursor:pointer;}
    a:hover,a:focus{/*color:#2e90ff;*/color:#329856;text-decoration: none;}
    a:active,a:hover {outline: 0;}
    a {
        blr: expression(this.onFocus=this.blur())
    }
    a {
        outline: none;
    }
    img {border: none;vertical-align: middle;-ms-interpolation-mode: bicubic}
    .text-word{word-break:break-all;}/*英文强制换行*/
    .max-Width{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

    h1,h2,h3,h4,h5,h6{font-weight: normal;}